#my-navigation {
    margin-bottom: 0;
    padding: 20px 30px;
}


#logo{
    font-size: 30px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carousel-caption{
    margin-bottom: 190px;
}
.carousel-caption h1{
    font-size: 4rem;
    margin: 1.1rem 0;
    font-weight: 700;
    
}
.carousel-caption p{
    font-size: 1.5rem;
}
.button, .button1{
    padding: 1.2rem 2.5rem;
    background-color: orange;
    border: 0;
    margin-top: 10px;
}
.button1{
    background-color: #fff;
   color: black;
   margin-left: 20px;
}
.first-last{
    background-color: hsl(0, 0%, 100%);
    padding: 40px 30px;

    border: 1px solid gray;
    position: relative;
    bottom: 55px;
}
input{
    padding: 10px 20px;
}
.submit{
    background-color: orange;
    border: 0;
    padding: 10px  40px;
}